



/*Introduction*/

.introduction {
  background-image: url('../images/duzy.png');
  background-position: center center;
  background-size: cover;
}

.row.d-flex.justify-content-around {
  padding: 26px;
}

.container {
  color: white;
}

.color {
  color: yellow;
}

.introduction-text {
  text-align: center;
  padding-bottom: 60px;
}

.btn {
  font-size: 18px;
  background-color: #fed136;
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
}

/*Service*/

.page-two {
  color: black;
}

.section-title {
  text-align: center;
}

.services-title {
  text-align: center;
}



h3 {
  text-align: center;
}

.icons i {
  width: 90px;
  height: 90px;
  line-height: 90px;
  color: white;
  font-size: 50px;
  text-align: center;
  background-color: #fed136;
  border-radius: 50%;
}

.icons {
text-align: center;
}

h6 {
  text-align: center;
}

/*Portfolio*/

.page-three {
  color: black;
  background-color: silver;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 24px;
}

.card-body
{
  text-align: center;
  background-color: white;
  padding: 22px 0;
  font-size: 10px;
  width:100%;

}

.card {
  padding: 10px 0;
  width: 291px;
  margin: 0 auto;
}

 img {
  margin:0 auto;
  display:block;
  object-fit: cover;
}


.card-body h3, .card-body h6 {
margin:0;
}
.card-body h3 {
  font-family: sans-serif;
    font-size: 17px;
}

.card-body h6 {
    font-size: 13px;
    font-style: italic;
    color:#aaaaaa;
}

/*Footer*/

.footer {
    background-color: white;
}

.footer ul {
  display: flex;
  justify-content: center;
}

.footer li {
display: flex;
width: 60px;
height: 60px;
border-radius: 50%;
background: black;
margin: 10px;
justify-content: center;
align-items: center;
cursor:pointer;
color: white;
}

.footer i {
  color: white;
  font-size: 34px;
}

.footer a {
  color: black;
  text-decoration: none;
}

.copyright {
  padding-top: 50px;
  text-align: center;
}
